@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-gray-blend {
  background:
    linear-gradient(rgba(242, 244, 249, 0.9), rgba(242, 244, 249, 0.9)),
    linear-gradient(white, white);
  background-blend-mode: multiply;
}

.bg-blue-blend {
  background:
    linear-gradient(#94f8ff33, #94f8ff33),
    linear-gradient(#f3fbff, #f3fbff);
  background-blend-mode: multiply;
}

.bg-orange-blend {
  background:
    linear-gradient(#dd5308),
}


.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.responsive-max-width {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 1280px) {
    .responsive-max-width {
        max-width: 1920px;
    }
}


